.pageBody {
    padding: 5px 5px 5px 100px;
}

.statusMessage {
    margin: 24px 0;
}

.gravatar {
    float: left;
    margin-left: -60px;
    width: 48px;
    height: 48px;
}

.byline {
    font-size: 80%;
    color: grey;
}